@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");
*::after,
*::after,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #f9ebea;
}

textarea,
select,
input,
button {
  outline: #c0392b;
}

button {
  background-color: #f2d7d5;
}
button:hover {
  transition: color 0.3s;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

.box {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 1.5rem;
  text-align: center;
}

.showBox {
  margin: auto;
}
.showBox span {
  padding: 10px;
  border: 1px solid black;
  border-right: 0;
  display: inline-block;
}
.showBox span:last-child {
  border-right: 1px solid black;
}

.searchInput {
  background-color: #f2d7d5;
  border: 1px solid black;
  padding: 10px;
  width: 240px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 100px);
  justify-content: center;
}

.grid9 {
  display: grid;
  grid-template-columns: repeat(9, 100px);
  justify-content: center;
}

.firstTable span {
  background-color: #c0392b;
  color: white;
}

.secondTable span {
  background-color: #f2d7d5;
  border-top: 0;
}

#tableHover span:hover {
  background-color: rgba(192, 57, 43, 0.5);
  color: white;
  cursor: default;
}

.shadowDiv {
  margin: auto;
  box-shadow: 0px 0px 30px 0px rgba(80, 80, 80, 0.4);
}

.showTitle {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.botSpacer {
  margin-bottom: 25px;
}

#borderLeft {
  border-left: 1px solid black;
}

.width19px {
  width: 19px;
}

.pointer {
  cursor: pointer;
}

.routeLink {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  color: gray;
  border: 1px solid black;
  border-left: 0;
  transition: color 0.3s;
}
.routeLink:first-of-type {
  border-left: 1px solid black;
}
.routeLink h1 {
  transition: all 0.2s ease-in-out;
  font-size: 1rem;
  padding: 11px;
}
.routeLink:hover h1 {
  color: black;
  font-weight: 600;
}

.navTitle {
  font-weight: 500;
  background-color: #c0392b;
  color: white;
}

.navBtn {
  background-color: white;
  width: 81px;
}
.navBtn:first-of-type {
  width: 82px;
}

button i {
  transition: all 0.2s ease-in-out;
}

button:hover i {
  color: black;
  transform: scale(1.3, 1.3);
}

.trashIcon {
  transition: all 0.2s ease-in-out;
  width: 19px;
  cursor: pointer;
}

.trashIcon:hover {
  color: red;
}

.confirmBtn {
  transition: all 0.2s ease-in-out;
  padding: 0 1.5px;
}

.confirmBtn:hover {
  color: green;
}

.adminBtn:hover .confirmBtn {
  color: green;
}

.red {
  color: #c0392b;
}

.fade {
  color: #c0392b;
  opacity: 0.5;
}

.gradeType {
  border-radius: 0;
  border: 1px solid black;
  border-right: 0;
  cursor: pointer;
  font-size: 1rem;
  color: gray;
  padding: 9px;
  transition: color 0.3s;
  background-color: #f2d7d5;
}
.gradeType:hover {
  color: black;
}

.searchBtn {
  border: 1px solid black;
  border-left: 0;
  padding: 10px 11.5px;
  color: gray;
  cursor: pointer;
}

.searchBox {
  margin: auto;
  margin-bottom: 25px;
}

.firstTitleMarginFix {
  margin: 25px 0 10px 0;
}

h3.showTitle {
  font-size: 1.3rem;
}

h4.showTitle {
  font-size: 1.1rem;
}

.fixMargin {
  margin: auto;
}

#review {
  display: block;
}
#review * {
  transition: transform 0.3s ease-in-out;
}
#review:hover p {
  transform: scale(1.3, 1.3) translateX(-4px);
}
#review:hover i.red {
  transform: scale(1.3, 1.3) translateX(4px);
}
#review:hover i.fade {
  transform: scale(1.3, 1.3);
}
#review p {
  display: inline-block;
}

.allRating {
  position: absolute;
  margin-top: 10px;
  width: 300px;
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

.disapear {
  display: none;
}

.formReviews {
  padding: 10px;
  background-color: green;
}

#xBtn {
  border-left: 1px solid black;
  width: 30px;
  height: 30px;
  padding: 5px;
}
#xBtn:hover i {
  color: red;
}

.innerSize {
  width: 300px;
  display: flex;
}

#fixSize {
  transform: translateY(-10px);
  width: 100px;
  color: black;
  transition: all 0.3s;
  margin: auto auto 10px auto;
}
#fixSize:hover * {
  transform: scale(1, 1);
  color: white;
}

.comment {
  padding: 40px 10px 20px 10px;
  word-wrap: break-word;
  text-align: justify;
}

.upText {
  margin-top: 10px;
}
.upText:first-of-type {
  font-size: 1.2rem;
  float: left;
  margin-left: 10px;
}
.upText:last-of-type {
  float: right;
  margin-right: 10px;
}

#fixPosition {
  transform: translateX(600px);
}

.fixImageForReview {
  object-fit: cover;
  width: 70px;
  height: 70px;
  margin: 5px;
}

.fixImageForReviewDiv {
  margin-bottom: 20px;
}

.adminBtn {
  color: grey;
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
  border-left: 0;
  display: inline-block;
}
.adminBtn:nth-of-type(1) {
  border-left: 0;
}

.addInput {
  background-color: #f2d7d5;
  border: 0;
  font-size: 1.02rem;
  text-align: center;
  width: 80px;
}
.addInput:focus {
  border: 0;
  border-radius: 0;
}

.backArr {
  padding: 0 2px;
}

#fixAddTable {
  padding: 0;
}
#fixAddTable input {
  margin-top: 9.5px;
}

#fixMenu {
  margin: 0 auto 25px auto;
}

.editInput {
  color: gray;
  border: 0;
  font-size: 1rem;
  text-align: center;
  background-color: #f2d7d5;
  width: 80px;
}
.editInput:focus {
  border: 0;
  border-radius: 0;
  color: black;
}

.linkFixInEditCurrent {
  display: inline-block;
}

.backArrr {
  padding: 0 1px;
}

.backArrrr {
  padding: 0 2.5px;
}

.editIconPadding {
  padding: 0 4px;
}

.confirmIconFix {
  padding: 0 1.5px;
}

.actionBtn {
  color: grey;
  border: 0;
  cursor: pointer;
  border-left: 0;
  font-size: 1rem;
  padding: 10px;
}

.updatePageDeleteBtn {
  display: inline-block;
  cursor: unset;
  margin: 10px;
  padding: 0;
}

#paddingFix span:first-child {
  padding: 0;
}

textarea {
  resize: none;
  height: 100px;
}

.reviewForm {
  padding: 25px;
}

.starDiv {
  color: #f2d7d5;
  cursor: pointer;
}
.starDiv i {
  font-size: 1.8rem;
}

.starHover {
  color: #c0392b;
}

.reviewBtn {
  width: 70px;
  color: grey;
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
  display: inline-block;
  margin: 0 8px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.reviewBtn:hover {
  background-color: #c0392b;
  color: white;
}

.uploadForm {
  margin: 10px;
}

.dragNDropInput {
  color: gray;
  padding: 20px 0;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 240px;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  border: 5px dashed #c0392b;
  transition: opacity 0.2s ease-in-out;
}
.dragNDropInput:hover {
  opacity: 0.8;
}

.slide-top {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-out-bottom {
  -webkit-animation: slide-out-bottom 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: slide-out-bottom 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px) translateX(600px);
    transform: translateY(100px) translateX(600px);
  }
  100% {
    -webkit-transform: translateY(0px) translateX(600px);
    transform: translateY(0px) translateX(600px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px) translateX(600px);
    transform: translateY(100px) translateX(600px);
  }
  100% {
    -webkit-transform: translateY(0px) translateX(600px);
    transform: translateY(0px) translateX(600px);
  }
}
@-webkit-keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0) translateX(600px);
    transform: translateY(0) translateX(600px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(100px) translateX(600px);
    transform: translateY(100px) translateX(600px);
    opacity: 0;
  }
}
@keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0) translateX(600px);
    transform: translateY(0) translateX(600px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(100px) translateX(600px);
    transform: translateY(100px) translateX(600px);
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
