.addInput {
  background-color: $secondaryColor;
  border: 0;
  font-size: 1.02rem;
  text-align: center;
  width: 80px;
  &:focus {
    border: 0;
    border-radius: 0;
  }
}

.backArr {
  padding: 0 2px;
}

#fixAddTable {
  padding: 0;
  & input {
    margin-top: 9.5px;
  }
}

#fixMenu {
  margin: 0 auto 25px auto;
}
