.slide-top {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-out-bottom {
  -webkit-animation: slide-out-bottom 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: slide-out-bottom 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px) translateX(600px);
    transform: translateY(100px) translateX(600px);
  }
  100% {
    -webkit-transform: translateY(0px) translateX(600px);
    transform: translateY(0px) translateX(600px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px) translateX(600px);
    transform: translateY(100px) translateX(600px);
  }
  100% {
    -webkit-transform: translateY(0px) translateX(600px);
    transform: translateY(0px) translateX(600px);
  }
}

@-webkit-keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0) translateX(600px);
    transform: translateY(0) translateX(600px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(100px) translateX(600px);
    transform: translateY(100px) translateX(600px);
    opacity: 0;
  }
}
@keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0) translateX(600px);
    transform: translateY(0) translateX(600px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(100px) translateX(600px);
    transform: translateY(100px) translateX(600px);
    opacity: 0;
  }
}
