$simpleBorder: 1px solid black;
$primaryColor: #c0392b;
$secondaryColor: #f2d7d5;
$backgroundColor: #f9ebea;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");

*::after,
*::after,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: $backgroundColor;
}

textarea,
select,
input,
button {
  outline: $primaryColor;
}

button {
  background-color: $secondaryColor;
  &:hover {
    transition: color 0.3s;
    color: black;
  }
}

a {
  text-decoration: none;
  color: black;
}
.box {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 1.5rem;
  text-align: center;
}

.showBox {
  margin: auto;
  span {
    padding: 10px;
    border: $simpleBorder;
    border-right: 0;
    display: inline-block;
    &:last-child {
      border-right: $simpleBorder;
    }
  }
}

.searchInput {
  background-color: $secondaryColor;
  border: $simpleBorder;
  padding: 10px;
  width: 240px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 100px);
  justify-content: center;
}

.grid9 {
  display: grid;
  grid-template-columns: repeat(9, 100px);
  justify-content: center;
}

.firstTable {
  span {
    background-color: $primaryColor;
    color: white;
  }
}
.secondTable {
  span {
    background-color: $secondaryColor;
    border-top: 0;
  }
}

#tableHover {
  span:hover {
    background-color: rgba($primaryColor, 0.5);
    color: white;
    cursor: default;
  }
}

.shadowDiv {
  margin: auto;
  box-shadow: 0px 0px 30px 0px rgba(80, 80, 80, 0.4);
}

.showTitle {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.botSpacer {
  margin-bottom: 25px;
}

#borderLeft {
  border-left: $simpleBorder;
}

.width19px {
  width: 19px;
}

.pointer {
  cursor: pointer;
}
