.editInput {
  color: gray;
  border: 0;
  font-size: 1rem;
  text-align: center;
  background-color: $secondaryColor;
  width: 80px;
  &:focus {
    border: 0;
    border-radius: 0;
    color: black;
  }
}

.linkFixInEditCurrent {
  display: inline-block;
}

.backArrr {
  padding: 0 1px;
}
.backArrrr {
  padding: 0 2.5px;
}
.editIconPadding {
  padding: 0 4px;
}

.confirmIconFix {
  padding: 0 1.5px;
}
