.gradeType {
  border-radius: 0;
  border: $simpleBorder;
  border-right: 0;
  cursor: pointer;
  font-size: 1rem;
  color: gray;
  padding: 9px;
  transition: color 0.3s;
  background-color: $secondaryColor;
  &:hover {
    color: black;
  }
}

.searchBtn {
  border: $simpleBorder;
  border-left: 0;
  padding: 10px 11.5px;
  color: gray;
  cursor: pointer;
}

.searchBox {
  margin: auto;
  margin-bottom: 25px;
}

.firstTitleMarginFix {
  margin: 25px 0 10px 0;
}

h3.showTitle {
  font-size: 1.3rem;
}

h4.showTitle {
  font-size: 1.1rem;
}
.fixMargin {
  margin: auto;
}

#review {
  display: block;
  & * {
    transition: transform 0.3s ease-in-out;
  }
  &:hover p {
    transform: scale(1.3, 1.3) translateX(-4px);
  }
  &:hover i.red {
    transform: scale(1.3, 1.3) translateX(4px);
  }
  &:hover i.fade {
    transform: scale(1.3, 1.3);
  }
  p {
    display: inline-block;
  }
}

.allRating {
  position: absolute;
  margin-top: 10px;
  width: 300px;
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

.disapear {
  display: none;
}

.formReviews {
  padding: 10px;
  background-color: green;
}

#xBtn {
  border-left: $simpleBorder;
  width: 30px;
  height: 30px;
  padding: 5px;
  // margin-right: 15px;
  &:hover i {
    color: red;
  }
}

.innerSize {
  width: 300px;
  display: flex;
}

#fixSize {
  transform: translateY(-10px);
  width: 100px;
  color: black;
  transition: all 0.3s;
  &:hover * {
    transform: scale(1, 1);
    color: white;
  }
  margin: auto auto 10px auto;
}

.comment {
  padding: 40px 10px 20px 10px;
  word-wrap: break-word;
  text-align: justify;
}

.upText {
  margin-top: 10px;
  &:first-of-type {
    font-size: 1.2rem;
    float: left;
    margin-left: 10px;
  }
  &:last-of-type {
    float: right;
    margin-right: 10px;
  }
}

#fixPosition {
  transform: translateX(600px);
}

.fixImageForReview {
  object-fit: cover;
  width: 70px;
  height: 70px;
  margin: 5px;
}

.fixImageForReviewDiv {
  margin-bottom: 20px;
}
