button i {
  transition: all 0.2s ease-in-out;
}

button:hover i {
  color: black;
  transform: scale(1.3, 1.3);
}

.trashIcon {
  transition: all 0.2s ease-in-out;
  width: 19px;
  cursor: pointer;
}
.trashIcon:hover {
  color: red;
}
.confirmBtn {
  transition: all 0.2s ease-in-out;
  padding: 0 1.5px;
}
.confirmBtn:hover {
  color: green;
}

.adminBtn:hover .confirmBtn {
  color: green;
}

.red {
  color: $primaryColor;
}

.fade {
  color: $primaryColor;
  opacity: 0.5;
}
