.routeLink {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  color: gray;
  border: $simpleBorder;
  border-left: 0;
  transition: color 0.3s;
  &:first-of-type {
    border-left: $simpleBorder;
  }
  h1 {
    transition: all 0.2s ease-in-out;
    font-size: 1rem;
    padding: 11px;
  }
  &:hover h1 {
    color: black;
    font-weight: 600;
  }
}

.navTitle {
  font-weight: 500;
  background-color: $primaryColor;
  color: white;
}

.navBtn {
  background-color: white;
  width: 81px;
  &:first-of-type {
    width: 82px;
  }
}
