textarea {
  resize: none;
  height: 100px;
}

.reviewForm {
  padding: 25px;
}

.starDiv {
  color: $secondaryColor;
  cursor: pointer;
  & i {
    font-size: 1.8rem;
  }
}

.starHover {
  color: $primaryColor;
}

.reviewBtn {
  width: 70px;
  color: grey;
  padding: 10px;
  border: $simpleBorder;
  cursor: pointer;
  display: inline-block;
  margin: 0 8px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  &:hover {
    background-color: $primaryColor;
    color: white;
  }
}

.uploadForm {
  margin: 10px;
}

.dragNDropInput {
  // background-color: red;
  color: gray;
  padding: 20px 0;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 240px;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  border: 5px dashed $primaryColor;
  transition: opacity 0.2s ease-in-out;
  &:hover {
    opacity: 0.8;
  }
}
