.actionBtn {
  color: grey;
  border: 0;
  cursor: pointer;
  border-left: 0;
  font-size: 1rem;
  padding: 10px;
}

.updatePageDeleteBtn {
  display: inline-block;
  cursor: unset;
  margin: 10px;
  padding: 0;
}

#paddingFix span:first-child {
  padding: 0;
}
